.wrapper {
  height: 80vh;
  margin-top: calc(var(--space-unit) * 4);
}

.containerTop {
  max-width: fit-content;
  margin-bottom: calc(var(--space-unit) * 2);
}

.heroText {
  /* font-family: 'Array-Semibold', sans-serif; */
  font-size: calc(var(--font-size-base) * 3);
  font-family: var(--font-family-logos);
  letter-spacing: calc(var(--space-unit) * 0.1);
  line-height: calc(var(--line-height-base) * 1);
}

.heroSubtext {
  font-size: calc(var(--font-size-base) * 1);
  font-family: var(--font-family-primary);
}

.heroTextContainer {
  margin-bottom: calc(var(--space-unit) * 2);
}

.searchWrapper {
  /* background-color: var(--secondary-color);
    border-radius: 20px; */
  max-width: fit-content;
}

.searchContainer {
  display: flex;
  justify-content: flex-start;
  gap: calc(var(--space-unit) * 0.5);
  padding-block: calc(var(--space-unit) * 1);
  padding-inline: calc(var(--space-unit) * 3);
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.searchIcon {
  color: var(--secondary-text-color);
  transform: translateY(1px);
}
.searchInput {
  border: none;
  background-color: transparent;
  color: var(--primary-text-color);
  font-size: calc(var(--font-size-base) * 0.8);
}

.searchInput:focus {
  outline: none;
  box-shadow: none;
}

.searchInput::placeholder {
  color: var(--secondary-text-color);
  opacity: 1;
}

.landingContainerBottom {
  display: flex;
  gap: calc(var(--space-unit) * 4);
}
