
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: calc(var(--space-unit) * 3);
  padding-block: calc(var(--space-unit) * 2);
  background-color: var(--secondary-color); 
  border-radius: calc(var(--space-unit) * 2);
  width: max-content;
}


.container {
  display: flex;
  gap: calc(var(--space-unit) * 6); 
  max-width: fit-content;
}

.mainRune{
    margin-bottom: calc(var(--space-unit)*2);
}

.left {
    max-width: fit-content;
}
.mainRuneImage{
    width:40px;
    height: 40px;
}

.runes{
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.runeRow {
  display: grid;
  grid-template-columns: repeat(3, 36px);
  margin-bottom: 12px;
  gap: 28px;
  max-width: fit-content;
}

.runeRow img {
  width: calc(var(--space-unit) * 5);
  height: calc(var(--space-unit) * 5);
  object-fit: contain;
  border-radius: 50%;
  padding: 3px;
  transition: transform 0.15s ease, background-color 0.15s ease;
}

.runeRow img:hover {
  transform: scale(1.1);
  background-color: #333;
}